{% extends 'AyalineComposerBundle::layout.html.twig' %}

{% block content %}
    <div class="row jumbotron well-sm">
        <h1>Composer as a service</h1>
        <p class="lead">Give your <strong>composer.json</strong>, get the corresponding <strong>vendor.zip</strong>, fast.</p>
    </div>

    <div class="alert-danger fade" id="error"></div>

    {{ form_start(form, {'action': path('composer_service_upload'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
        <div class="row">
            <div class="col-sm-8 col-lg-9 main-col">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#dnd-zone" data-toggle="tab">Composer.json</a></li>
                    <li class="hide console"><a href="#composer-output" class="text-success" data-toggle="tab"><i class="glyphicon glyphicon-eye-open"></i> Composer output</a></li>
                    <li class="hide console"><a href="#composer-installed" class="text-success" data-toggle="tab"><i class="glyphicon glyphicon-eye-open"></i> Show installed</a></li>
                    <li class="hide"><a href="#vulnerabilities" class="text-danger" data-toggle="tab"><i class="glyphicon glyphicon-fire"></i> Vulnerabilities</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active form-group" id="dnd-zone">
                        {{ form_widget(form.body) }}
                        <p class="drag-and-drop">
                            <span>
                                Write your composer.json, dragging/dropping,
                                <input type="file" class="file-chooser" id="file">
                                <a class="file-chooser-text" href="#">selecting it</a> or pasting
                                from the clipboard.
                            </span>
                            <span class="bad-file alert-danger fade">
                              Please use a composer.json file
                            </span>
                        </p>
                    </div>
                    <div class="tab-pane" id="composer-output">
                        <button type="button" class="log-copy btn btn-default" data-target="log-composer-output" id="cp-composer-output"><i class="glyphicon glyphicon-floppy-save"></i></button>
                        <pre class="log" id="log-composer-output"></pre>
                    </div>
                    <div class="tab-pane" id="composer-installed">
                        <button type="button" class="log-copy btn btn-default" data-target="log-composer-installed" id="cp-composer-installed"><i class="glyphicon glyphicon-floppy-save"></i></button>
                        <pre class="log" id="log-composer-installed"></pre>
                    </div>
                    <div class="tab-pane" id="vulnerabilities">
                        <button type="button" class="log-copy btn btn-default" data-target="log-vulnerabilities" id="cp-vulnerabilities"><i class="glyphicon glyphicon-floppy-save"></i></button>
                        <pre class="log" id="log-vulnerabilities"></pre>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 lead" id="progress">
                <div class="btn-group" data-toggle="buttons">
                    <button type="submit" class="btn btn-primary btn-lg ladda-button disabled" data-style="zoom-in" data-size="xl">Go</button>
                    <label class="btn btn-default btn-lg" for="composer_hasDevDependencies">{{ form_widget(form.hasDevDependencies) }}<span id="label-hasDevDependencies"><i class="glyphicon glyphicon-unchecked"></i> --no-dev</span></label>
                </div>
                <p></p>
                <ul id="steps"></ul>
                <p><a id="download-link" class="btn btn-lg btn-success fade in hide" href=""><i class="glyphicon glyphicon-download"></i> Download</a></p>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
