{% extends 'AyalineComposerBundle::layout.html.twig' %}

{% block content %}
    <div class="row jumbotron well-sm">
        <h1>Composer as a service</h1>
        <p class="lead">Give your <strong>composer.json</strong>, get the corresponding <strong>vendor.zip</strong>, fast.</p>
    </div>

    <div class="alert-danger fade" id="error"></div>

    {{ form_start(form, {'action': path('composer_service_upload'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
        <div class="row">
            <div class="form-group col-sm-8 col-lg-9" id="dnd-zone">
                {{ form_widget(form.body) }}
                <p class="drag-and-drop">
                    <span>
                        Write your composer.json, dragging/dropping,
                        <input type="file" class="file-chooser" id="file">
                        <a class="file-chooser-text" href="#">selecting it</a> or pasting
                        from the clipboard.
                    </span>
                    <span class="bad-file alert-danger fade">
                      Please use a composer.json file
                    </span>
                </p>
            </div>
            <div class="col-sm-4 col-lg-3 lead" id="progress">
                <div class="btn-group" data-toggle="buttons">
                    <button type="submit" class="btn btn-primary btn-lg ladda-button disabled" data-style="zoom-in" data-size="xl">Go</button>
                    <label class="btn btn-default btn-lg" for="composer_hasDevDependencies">{{ form_widget(form.hasDevDependencies) }}<span id="label-hasDevDependencies"><i class="glyphicon glyphicon-unchecked"></i> --no-dev</span></label>
                </div>
                <p></p>
                <ul id="steps"></ul>
                <p><a id="download-link" class="btn btn-lg btn-success fade in hide" href=""><i class="glyphicon glyphicon-download"></i> Download</a></p>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
