parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretButIsSpecialToComposerAsAService

    rabbitmq_host:     localhost
    rabbitmq_user:     guest
    rabbitmq_pass:     guest
    rabbitmq_port:     5672
    rabbitmq_vhost:    /
    pusher_app_id:     change_me
    pusher_key:        change_me
    pusher_secret:     change_me

    session_name:      COMPOSERAAS
    working_temp_path: '/dev/shm/composer/'
    composer_bin_path: '/usr/local/bin/composer'

    analytics_id:      UA-XXXXXX-X
    pingdom_rum_id:    change_me
    assets_version_param: 10

    doctrine.orm.metadata.driver_chain.class: Doctrine\Common\Persistence\Mapping\Driver\MappingDriverChain