parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    rabbitmq_host:     localhost
    rabbitmq_user:     guest
    rabbitmq_pass:     guest
    rabbitmq_port:     5672
    rabbitmq_vhost:    /
    pusher_app_id:     change_me
    pusher_key:        change_me
    pusher_secret:     change_me

    composers_tmp_path: '/dev/shm/composer/'