body {
    padding-top: 20px;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

textarea {
    font-family: Monaco, "Liberation Mono", Courier, monospace;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 30px;
    font-weight: 300;
}

.drag-and-drop {
    display: none
}

html.draganddrop .drag-and-drop {
    margin: 0;
    padding: 7px 10px;
    color: #aaa;
    font-size: 13px;
    line-height: 16px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

html.draganddrop textarea {
    border-bottom: 1px dashed #ddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: block
}

.dragover textarea, .dragover .drag-and-drop {
    box-shadow: #c9ff00 0 0 3px
}

.drag-and-drop .file-chooser {
    position: absolute;
    opacity: 0.0001;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

p.drag-and-drop.focused {
    box-shadow: rgba(81, 167, 232, 0.5) 0 0 3px;
    border-color: #51a7e8;
}

.drag-and-drop .file-chooser:hover + .file-chooser-text {
    text-decoration: underline
}

.drag-and-drop span {
    display: inline-block
}

.dragover textarea, .dragover .drag-and-drop {
    box-shadow: #c9ff00 0 0 3px
}

#error {
    margin-left: 0;
    margin-right: 0
}

#steps {
    list-style-type: none;
    padding: 0;
}

#steps .muted {
    color: #999999;
}

#steps .primary {
    color: #428bca;
}

#steps .success {
    color: #47a447;
}

#steps .danger {
    color: #ac2925;
}

#steps .warning {
    color: #d58512;
}

#steps li {
    overflow: hidden;
    white-space: nowrap;
    font-size: 80%;
}

/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
    /* The right and left lasses determine the side we attach our banner to */
    position: absolute;

    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: 2px 0;

    /* Set the base colour */
    background-color: #a00;

    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#000000');

    /* Add a drop shadow */
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

    z-index: 9999;
    pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
    /* Set the font */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;

    /* Set the text properties */
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;

    /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
    width: 200px;
    line-height: 20px;

    /* Set the layout properties */
    display: inline-block;
    padding: 2px 0;

    /* Add "stitching" effect */
    border-width: 1px 0;
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
    position: fixed;
}

.github-fork-ribbon-wrapper.right {
    right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    top: 42px;
    right: -43px;

    /* Rotate the banner 45 degrees */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}